@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import '../../../../abstracts/mixins';
@import '../../../../abstracts/vars';
.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;

  color:$textColor;
}