@import "./../../../abstracts/vars";
@import "./../../../abstracts/mixins";


.recoveryPage{
  @include flex-edit(center, center);

  .wrap {
    padding: 1.5rem 1.5rem 1.5rem 2.5rem;
    margin: 3.8rem 0 2.6rem;

    width: 25rem;
    height: 34rem;

    display: flex;
    flex-direction: column;
    justify-content: start;

    background-color: $whiteColor;
  }
  .title {
    margin: 2rem 0 4rem;

    @include text-edit(Poppins, 600, 1.4rem, 0.7);
  }



  .input::placeholder{
    @include text-edit(SF UI Display, 500, 0.8rem, 1.5);

    color: #24254A;

    opacity: 0.5;
  }
  .textDiscr{
    margin-top: 2rem;

    @include text-edit(SF UI Display, 500, 1rem, 1.5);

    color:$lightGrey;

    text-align: left;
  }

  .btnSend{
    width: 266px;
    height: 36px;

    align-self: center;
    margin-top: 5.6rem;

    color:$whiteColor;
  }
  .txtQuestion{
    margin-top: 1.8rem;

    @include text-edit(SF UI Display, 500, 1rem, 1.5);

    color:$lightGrey;

    text-align: center;
  }
.btnLogging{
  width: 128px;
  height: 33px;

  margin-top:2rem;

  align-self: center;

  @include text-edit(SF UI Display, 600, 1rem, 1.5);

  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  color: $accentColor;

  background-color: transparent;

  border:none;

}
}